// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1200px;

$clr1: rgb(255, 255, 255);
$clr2: rgb(117, 131, 159);
$clr3: rgb(147, 210, 253);
$bg-clr: #0b1426;

$bx-shdw-clr: rgb(17, 153, 250);